html{
	background:url(back2.jpg) no-repeat center center;
	
	background-attachment:fixed;

}
body{
	margin: 0;
}
a{
	text-decoration: none;
	color:#339966;
}
div {
	background-color:white;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
p{
	font-size:1.4em;
	font-family: Arial, Georgia, Serif;

}
@keyframes slidein {
  from {
    margin: auto;
    width: 50%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
bla{

	font-family: Arial, Georgia, Serif;
	font-size: 1.7em;
	padding: 10px 10px;
	display: inline-block;
	color:white;
	
}
bla2{
	top: 70px;
	font-family: "Times New Roman", Times, serif;
	font-size: 2.1em;
	margin: 10px 10px;
	position:relative;
	display: inline-block;
	padding: 0 3%;
	float:right;
	color:white;
}
bla2.inside{
	 top: 0px;
	 margin: 10px 0px;
	 padding: 0 20px;
	 font-size:1.8em;
	 color: black;
	 float: left;
}
bla2.out{
	 top: 0px;
}
bla2.quote{
	top: 0px;
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	color: black;
	quotes: "”","”";
	margin: 0px 3%;
	padding: 20px 20px;
	font-size:1.8em;
}
q{
	quotes: "”","”";
}

#super{
	/*background-color:#719867;*/
	background:transparent;
	padding-bottom:12px;
}
#first ul {
	display: inline-block;
    list-style-type: none;
    margin: 0 auto;

    padding: 1px;
	float: right;
    overflow: hidden;
    background-color:#339966;

}
#first li {
    float: right;
    border-right:1px solid #bbb;
}


#first li a {
    display: block;
    color: white;
    text-align: center;
	font-size: 1,7em;
    padding: 10px 16px;
    text-decoration: none;
}

#first li a:hover:not(.active) {
    background-color: white;
	color: black;
}

#First ul {
	display: inline-block;
    list-style-type: none;
    margin: 0 auto;

    padding: 1px;
	float: right;
    overflow: hidden;
    background-color: white;

}
#First li {
    float: right;
    border-right:1px solid #bbb;
}


#First li a {
    display: block;
    color: black;
    text-align: center;
	font-size: 1,7em;
    padding: 10px 16px;
    text-decoration: none;
}

#First li a:hover:not(.active) {
    background-color: black;
	color: white;
}


#first{

	border :1px;
	top: 0;
	width: 100%;
	z-index: 99999;
	float: top;
	border-style: solid;
    border-width: 1px;
	position: fixed;
	top: 0px;
	margin-top: 0px;
	
	padding-left: 0px;
	padding-bottom:0px;
	overflow: hidden;
	background-color:#339966;
	border-bottom: 1px;
	animation-duration: 0.3s;
  	animation-name: slidein;
	
	
}

#first bla2.inside{
	color:white;
}
#First{

	border :1px;
	top: 0;
	width: 100%;
	float: top;
	border-style: solid;
    border-width: 1px;
	position: fixed;
	top: 0px;
	margin-top: 0px;
	position:relative;
	padding-left: 0px;
	padding-bottom:0px;
	overflow: hidden;
	border-bottom: 1px;
	
	
	
}
#first2{

	top: 0;
	min-height: 50px;
	max-height:50px;

	visibility:hidden;
	
	
}
#second{
	
	border :1px;
	top: 0px;
	width: 100%;
	position: relative;
	border-style:outset;
	border-left:0px;
	border-right:0px;

	padding: 0px 0px;
	display: table;
	
	
}
#inside0{
	float:right;
	display:table;
	height: 100%;
	position:relative;
	margin: 0px 0px;
	padding: 0px 0px;
	float: left;
}
#inside1{
	float: right;
	color:white;
	display: -moz-inline-stack;
	display: inline-block;
	background-color:black;
	margin: 0px 0px;
	display: inline;
	padding: 0px 0px;
	margin-bottom: -4px;
	overflow: hidden;
}
#third{
	
	border :1px;
	top: 0px;
	width: 100%;
	position: relative;
	border-style:outset;
	border-bottom-color:white;
	border-top:0px;
	border-left:0px;
	border-right:0px;

	min-height: 300px;
	display: inline-block;
	background:transparent;
}
#logo{
	top:5px;
	left:3%;
	width:76px;
	height:119px;
	position:relative;
	
	display:inline-block;
}
@media only screen and (min-width: 1921px) {
	html{
		background-size:100% 100%;
	}
}
@media only screen and (min-height: 1081px) {
	html{
		background-size:100% 100%;
	}
}
@media only screen and (max-width: 560px) {
  
    ul{
		width: 100%;
		float:left;
		
	}
	#First ul{
		background-color:#339966;
	}
	#First li a{
		color: white;
	}
	#first bla2{
		display:none;
	}
	#logo{
		display: block;
	}
	bla2{
		top: 0px;
	}
	#super{
		padding-bottom:60px;
	}
}

@media only screen and (max-width: 450px) {
 
    ul{
		width: 100%;
		float:left;
	}
	bla{
		display:none;
		
	}
	bla2{
		font-size: 1.8em;
	}
	bla2.inside{
		font-size: 1.1em;
	}
	#inside1{
		width: 100%;
	}
	
}
@media only screen and (max-width: 332px) {
    /* For mobile phones: */
    li{
		width: 100%;
	}
	bla{
		display:none;
	}
	#first{
		
		display:none;
		
	}
	#first2{
		display:none;
	}
	#super{
		padding-bottom:90px;
	}
}
@font-face {

}
